.mat-mdc-row{
  cursor: pointer;
}
.mat-mdc-row:hover {
  background-color: rgb(222, 222, 222);
}
.mat-column-type_1{
  min-width: 100px;
}
.mat-column-type_2{
  min-width: 100px;
}
.mat-mdc-header-cell{
  cursor: pointer;
}
.paginator{
  margin-top: 18px
}
.table-container{
  width: 100%;
  height: calc(100% - 74px);
  overflow-x: auto;
  overflow-y: auto;
}
.mat-mdc-form-field{
  margin-top:12px
}